<div class="center jumbotron">
    <h1>Grading Application</h1>
    
    <h2>Web based Grading Application</h2>
    
    <%= link_to "Create User", signup_path, class: "btn btn-lg btn-primary rails-logo" %>
    
</div>