<% provide(:title, 'Enroll') %>
<h1>Enroll in Module</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <p>@user.name.humanize, enroll in a module below</p>
      <%= form_for(@user_mod, url: user_mod_index_path) do |f| %>
        <%= f.label :user_id %>
        <%= f.text_field :user_id, class: 'form-control' %>
  
        <%= f.label :mod_id %>
        <%= f.text_field :mod_id, class: 'form-control' %>
  
        <%= f.submit "Enroll", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>