<% provide(:title, "Search Results") %>
    
    <div class="panel panel-default">
        <div class="panel-heading">SEARCH RESULTS</div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                
                <% @users.where(role: "Student").each do |user| %>
                    <table class="table">
                        <h2><%= user.name.humanize %> <%= user.surname.humanize %>'s Modules</h2>
                        <tr>
                            <th>Module id</th>
                            <th>Module name</th>
                            <th>Enrollment Date</th>
                            <th>Grade Deadline</th>
                            <th colspan="3">Grade</th>
                        </tr>
                        
                        <% user.user_mods.each do |usermod| %>
                        <tr>
                            <td><%= usermod.mod.id %></td>
                            <td><%= usermod.mod.name %></td>
                            <td><%= usermod.created_at.strftime("%b-%d-%Y") %></td>
                            <td><%= Time.at(1496307600).strftime("%b-%d-%Y") %></td>
                            <td>
                                <% if usermod.grade.nil? %>
                                TBC
                                <% else %>
                                <%= usermod.grade %>%
                                <% end %>
                            </td>
                            
                            <% if is_lecturer? %>
                                <% current_user.user_mods.each do |lecmod| %>
                                    <% if lecmod.mod_id == usermod.mod_id %>
                                            <td>
                                                <%= form_for UserMod.find(usermod.id), :html => {:class => "form-inline"}, :method => :PUT do |f| %>
                                                
                                                    <%= f.text_field :grade, :value => usermod.grade, class: 'form-control col-xs-1' %>
                                            </td>
                                            <td>
                                                    <%= f.submit "Update Grade", class: "btn btn-primary btn-sm" %>
                                                <% end %>
                                            </td>
                                    <% end %>
                                <% end %>
                            <% end %>
                            
                        </tr>
                        <% end %>
                    </table><br/><br/>
                <% end %>
            </div>
        </div>
    </div>