<% provide(:title, @user.name) %>

<p>
    <% if is_admin? %>
        <%= render 'shared/admin_dash' %>
    <% elsif is_lecturer? %>
        <%= render 'shared/lecturer_dash' %>
    <% elsif is_student? %>
        <%= render 'shared/student_dash' %>
    <% else %>
        Who the hell are you?
    <% end %>
</p>