<tr>
  <th>id</th>
  <th>module</th>
  <th>enrollment date</th>
  <th>grade</th>
  <th></th>
</tr>
<% @user_mods.each do |usermod| %>
  <tr>
    <td><%= usermod.id %></td>
    <td><%= usermod.mod.name %></td>
    <td><%= usermod.created_at.strftime("%b-%d-%Y") %></td>
    <td>%</td>
    <td>
      <%= button_to "WITHDRAW", {:controller => :user_mod, :action => 'destroy', :id => usermod.id }, :confirm => "Are you sure?", :method => :delete, :class => 'btn btn-primary btn-sm' %>
    </td>
  </tr>
<% end %>