<div>
  <h1><%= @user.name.humanize %> <%= @user.surname.humanize %>'s Admin Dashboard</h1>
    <div class="panel panel-default">
      <div class="panel-heading">MODULE ASSIGNMENT</div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
            
              <%= form_for(UserMod.new, url: user_mod_index_path) do |f| %>
                
                <label for="user_id">Select Lecturer</label>
                <%= f.collection_select :user_id, User.where(role: "Lecturer"), :id, :fullname, {required: true}, {class: "form-control"} %>
                
                <label for="mod_id">Select Module</label>
                <%= f.collection_select :mod_id, Mod.all, :id, :name, {required: true}, {class: "form-control"} %>
                
                <%= f.submit "Assign", class: "btn btn-primary" %>
              <% end %>
          </div>
      </div>
    </div>
    
    <%= render 'shared/search' %>
</div>