<div>
  <h1><%= @user.name.humanize %> <%= @user.surname.humanize %>'s Lecturer Dashboard</h1>
    
    <div class="panel panel-default">
      <div class="panel-heading">ASSIGNED MODULES</div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
            <% if @user.user_mods.any? %>
              <table class="table">
                <%= render 'shared/lecturer_usermod' %>
              </table>
            <% end %>
          </div>
        </div>
      </div>
      
      <%= render 'shared/search' %>
    
</div>