<tr>
  <th>id</th>
  <th>module</th>
  <th>assignment date</th>
  <th>grade deadline date</th>
</tr>
<% @user_mods.each do |usermod| %>
  <tr>
    <td><%= usermod.id %></td>
    <td><%= usermod.mod.name %></td>
    <td><%= usermod.created_at.strftime("%b-%d-%Y") %></td>
    <td><%= Time.at(1496307600).strftime("%b-%d-%Y") %></td>
  </tr>
<% end %>