<div class="panel panel-default">
  <div class="panel-heading">STUDENT SEARCH</div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <%= form_tag users_path, :method => 'get', :id => 'users_search' do %>
          <p>
              <label for="search">Enter Student ID or First Name</label>
              <%= text_field_tag :search, params[:search], class: 'form-control' %>
              <%= submit_tag "Search", :name => nil, class: 'btn btn-primary' %>
          </p>
        <% end %>
      </div>
    </div>
</div>