<div>
  <h1><%= @user.name.humanize %> <%= @user.surname.humanize %>'s Student Dashboard</h1>

    <% 
      @modPassCount = 0 
      @passGrade = false
      @accumPassMark = 0
      @maxCompMark = 0
      @passByCompCandidate = false
      @passByComp = false
      @topmark1 = 0
      @topmark2 = 0
      @topmark3 = 0
      @avgMark = 0
    %>
  
    <% @user_mods.each do |usermod| %>
    
      <!-- Capture three top marks -->
      <%
      if usermod.grade.to_f > @topmark1
        @topmark3 = @topmark2
        @topmark2 = @topmark1
        @topmark1 = usermod.grade
      elsif usermod.grade.to_f > @topmark2
        @topmark3 = @topmark2
        @topmark2 = usermod.grade
      elsif usermod.grade.to_f > @topmark3
        @topmark3 = usermod.grade
      end
      %>
      
      <!-- Capture number of modules passed and accumulated value -->
      <%
      if usermod.grade.to_f>=40 
        @modPassCount = @modPassCount +1
        @accumPassMark = @accumPassMark + usermod.grade
      end
      %>
      
      <!-- Determine pass and pass by compensation mark -->
      <%
      if @modPassCount >= 3
        @passGrade = true
      elsif @modPassCount < 3 && @modPassCount >= 2
        @passByCompCandidate = true
        @user_mods.each do |usermod2|
          if usermod2.grade.to_f >= 35 && usermod2.grade.to_f < 40 && usermod2.grade.to_f > @maxCompMark
            @maxCompMark = @maxCompMark + usermod2.grade
          end
        end
      end
      %>
    <% end %>
    
    <!-- Determine pass by comp -->
    <%
    if !@passGrade && @passByCompCandidate && ((40-@maxCompMark.to_f)*2) < (@accumPassMark.to_f - 80)
      @passByComp = true
    end
    %>
    
    <% @avgMark = ((@topmark1 + @topmark2 + @topmark3)/3) %>

    <h1>
      Grade:
      <% if @passGrade || @passByComp %>
        <% if @avgMark.to_f >= 70 %>
          Disctinction
        <% elsif @avgMark.to_f >= 60 %>
          Merit upper division
        <% elsif @avgMark.to_f >= 50 %>
          Merit lower division
        <% elsif @avgMark.to_f >= 40 %>
          Pass
        <% end %>
        <% if @passByComp %>
          (by Compensation)
        <% end %>
      <% else %>
        Fail
      <% end %>
    </h1>
    <h2>
      <% if current_time < grading_deadline %>
        Note: Not Final grade, final grade will be published after deadline (<%= grading_deadline %>)
      <% else %>
        (Final Grade)
      <% end %>
    </h2>
    
    <!-- uncomment for troubleshooting, should prob move to log -->
    <!--
      @modPassCount: <%= @modPassCount %> <br/>
      @passGrade: <%= @passGrade %> <br/>
      @accumPassMark: <%= @accumPassMark %> <br/>
      @maxCompMark: <%=  @maxCompMark %> <br/>
      @passByComp: <%= @passByComp %> <br/>
      @topmark1: <%= @topmark1 %> <br/>
      @topmark2: <%= @topmark2 %> <br/>
      @topmark3: <%= @topmark3 %> <br/>
      @avgMark: <%= @avgMark %> <br/>
    -->
    <!-- end uncomment for troubleshooting -->
    
    <div class="panel panel-default">
      <div class="panel-heading">MODULE ENROLLMENT</div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
            
              <%= form_for(UserMod.new, url: user_mod_index_path) do |f| %>
              
                <%= f.hidden_field :user_id, :value => @user.id %>
                <%= f.collection_select :mod_id, Mod.all, :id, :name, {prompt: "Select a module"}, {class: "form-control"} %>
    
                <%= f.submit "Enroll", class: "btn btn-primary" %>
              <% end %>
          </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">CURRENT MODULES</div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
            <% if @user.user_mods.any? %>
              <table class="table">
                <%= render 'shared/student_usermod' %>
              </table>
            <% end %>
          </div>
        </div>
      </div>
</div>