<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Grading Application", root_path, :id => "logo" %>
    <nav>
        <% if logged_in? %>
          <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Dashboard", user_path(:id => current_user.id) %></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Log in", login_path %></li>
          </ul>
        <% end %>
    </nav>
  </div>
</header>